@import '../../../../globalStyles/variables';

$selected-nav: #83009e;
$unselected-nav: #727272;

#footer {
  border-top: 1px solid #eee;
  width: 100%;
  height: $footer-height;

  display: table;

  position: fixed;
  bottom: 0;
  background-color: #fff;

  .button {
    height: 50%;

    display: table-cell;

    vertical-align: middle;
    text-align: center;

    a {
      color: inherit;
      text-decoration: inherit;
      font-weight: inherit;
    }
  }

  .home {
    svg path {
      fill: $unselected-nav;
    }

    &.selected svg path {
      fill: $selected-nav;
    }
  }

  .submit {
    svg path {
      stroke: $unselected-nav;
    }
  }

  .search {
    svg path {
      stroke: $unselected-nav;
      fill: $unselected-nav;
    }
  }

  .history {
    svg g {
      .a {
        stroke: $unselected-nav;
      }

      .b {
        stroke: $unselected-nav;
        fill: $unselected-nav;
      }

      .c {
        stroke: $unselected-nav;
      }
    }
  }
}
