@import '../../../../globalStyles/variables';

#footer {
  border-top: 1px solid #eee;
  width: 100%;
  height: $footer-height;

  display: table;

  position: fixed;
  bottom: 0;
  background-color: #fff;

  .button {
    height: 50%;
    
    display: table-cell;

    vertical-align: middle;
    text-align: center;

    a {
      color: inherit;
      text-decoration: inherit;
      font-weight: inherit;
    }
  }
}
