@import '../../../../globalStyles/variables';

$selected-nav: #83009e;
$unselected-nav: #727272;

#footer {
  border-top: 1px solid #eee;
  width: 100%;
  height: $footer-height;

  display: table;

  position: fixed;
  bottom: 0;
  background-color: #fff;

  .button {
    width: 25%;

    display: table-cell;

    vertical-align: middle;
    text-align: center;

    a {
      height: 17px;

      display: block;

      color: inherit;
      text-decoration: inherit;
      font-weight: inherit;

      svg {
        height: 17px;
      }
    }
  }

  .home {
    svg path {
      fill: $unselected-nav;
    }

    &.selected svg path {
      fill: $selected-nav;
    }
  }

  .submit {
    svg g {
      fill: none;
      
      path {
        fill: $unselected-nav;
      }

      ellipse {
        stroke: #fff;
        fill: $unselected-nav;
      }

      circle {
        stroke: #fff;
        fill: #fff;
      }
    }
  }

  .search {
    svg path {
      stroke: $unselected-nav;
      fill: $unselected-nav;
    }
  }

  .history {
    svg g {
      fill: $unselected-nav;
    }
  }
}
