@import '../../vendor/bourbon/bourbon';
@import '../../globalStyles/mixins';

#login {
  width: 100vw;
  height: 100vh;

  display: block;
  @include linear-gradient(#d66de1, #782087);

  .container {
    @include v-center;
  }

  .signup {
    margin-bottom: 2em;
    width: 100%;

    position: absolute;
    bottom: 0;

    text-align: center;
    color: #FF9EF8;

    a {
      color: #FF9EF8;
    }
  }
}
